[submodule "dwm"]
	path = dwm
	url = git@github.com:rafaelleru/dwm.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-pacaur"]
	path = dotbot-pacaur
	url = https://github.com/ajlende/dotbot-pacaur
[submodule "nvim/bundle"]
	path = nvim/bundle
	url = https://github.com/VundleVim/Vundle.vim.git
