snippet parser
	parser = argparse.ArgumentParser()

snippet add_argument
	parser.add_argument('--${1:argname}', '-${2:arg_short}', dest='$1', type=${3:str}, required=${5:False}, help='${6:help}')

snippet printstderr
	print >> sys.stderr, $1

snippet DAG
	from airflow import DAG

	with DAG(${1:dag}, schedule_interval=${2:schedule_interval}, default_args=default_args, catchup=False) as dag:
		$3

snippet airflow_operator
	$1 = ${2:DummyOperator}(
		task_id='${1:step_name}',
		$3
	)
